<!DOCTYPE html>
<html>

  <head>
    <!--Page Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sam Wang"> 
    <meta name="description" content="anime recommender">
    <meta name="keywords" content="anime, recommender, suggestions, anime recommender">
    <title>Anime recommender</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/rec.css">
  </head>

  <body>
      <div id='topnav'>
<!--<form action='/'>
<button type='submit' id='home-button'>
<img src='../images/home.jpg' alt='home' id='home-image'>
</button>
</form>-->
        <ul>
          <li><a href='/'>Home</a></li>
          <li>
            <a href='https://www.animenewsnetwork.com/' target='_blank'>Data Source</a>
          </li>
        </ul>
      </div>

      <% for(var i=0; i < data.length; i++) { %>
      <div class='suggestion'>
        <div>
          <a href='<%= data[i].link %>' target="_blank">
            <%= i+1 %>. <%= data[i].title %> <%= data[i].rating %>
          </a>
        </div>
        <img src='<%= data[i].img %>'>
        <p><%= data[i].plot %></p>
      </div>
      <% } %>
  </body>
</html>