<!DOCTYPE html>
<html>

  <head>
    <!--Page Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sam Wang"> 
    <meta name="description" content="anime recommender">
    <meta name="keywords" content="anime, recommender, suggestions, anime recommender">
    <title>Anime recommender</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/custom_search.css">
  </head>

  <body>
    <div id='body'>
      <p><%= data.ratingWeight %></p>
      <p><%= data.numRecs %></p>
      <p><%= data.minYear %></p>
      <p><%= data.maxYear %></p>
      <p><%= data.minVotes %></p>
      <p><%= data.maxVotes %></p>
      <p><%= data.genresWeight %></p>
      <p><%= data.genres %></p>
      <p><%= data.themesWeight %></p>
      <p><%= data.themes %></p>
      <p><%= data.directorWeight %></p>
      <p><%= data.director %></p>
      <p><%= data.studioWeight %></p>
      <p><%= data.studio %></p>
    </div>
  </body>
</html>